# Visual Studio Solution
*.sln

# Linker output
*.ilk
*.exp

# Executables
*.exe

# Database files of this project
*.idb

# Debug files
*.pdb

# RemedyBG files
*.rdbg

# Visual Studio Code
.vscode/

# Build directory
build/
